* {

    margin: 0;
    padding: 0;
    

}

body {

    background:#E8E8E8

}

/* 

ANTERIORES
color-fondo: #030637;
color-principal: #B81485;
color-secundario: #910A67;

ACTUAL
color-fondo: #271A27;
color-principal: #3CC6B7;
color-secundario: #B87038;


*/
 
/* HEADER - INICIO */

h1 {

    color: #3CC6B7;

}

h2 {

    color: #271A27;

}


.nombre {

    font-size: 30px;
    color: #3CC6B7;

}


.fondo_header {

    background-color: #271A27;
    height: 7.5vh;
    margin-bottom: 22px;
    z-index: 999;

}

ul {


    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    list-style-type: none;


}



a {

    color: #3CC6B7;
    text-decoration: none;
    font-size: 22px;

}


/* HAMBURGUESA - INICIO */

.hamburguesa {

    position: relative;
     

}

.hamburguesa_desplegar {

    position: fixed;
    height: 100vh;
    width: 70vw;
    background-color: #271A27;
    color: #B87038;
    font-size: 22px;
    box-shadow: 6px 0px 10px black;
    left: -80vw;
    transition: 0.4s left;
    top: 0;
    z-index: 1;
}

.hamburguesa:hover > .hamburguesa_desplegar {

    left: 0px;

}

.contenedor_menu_hamburguesa {

    display: grid;
    margin-top: 55px;
    padding-left: 10%;
    grid-gap: 25px;


}



/* HAMBURGUESA - FIN */


/* PERFIL - INICIO */

.perfil {

    position: relative;


}

.perfil_desplegar {

    position: fixed;
    height: 100vh;
    width: 70vw;
    background-color: #271A27;
    color: #B87038;
    font-size: 22px;
    box-shadow: -6px 0px 10px black;
    right: -80vw;
    transition: 0.4s right;
    top: 0;
    z-index: 1;


}



.perfil:hover > .perfil_desplegar {

    right: 0px;

}


.foto_perfil_contenedor {


    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    margin-top: 20px;
}


.foto_perfil {

    width: 130px;
    height: 130px;
  
}



.contenedor_menu_perfil {
    
    display: grid;
    margin-top: 20px;
    color: #3CC6B7;
    grid-gap: 10px;
    text-align: center;



}


/* PERFIL - FIN */

.menu {
    
    height: 50px;
    object-fit: contain;
    z-index: 1;


}

/* HEADER - FIN */


/* INDEX - INICIO */

.card {

    box-shadow: 2px 2px 5px #3CC6B7;
    border: 2px solid #271A27;
    border-right: none;
    margin: 0 10px;

}

.separacion {

    margin-top: -10px;

}

.card-footer {

    margin-top: -10px;

}

/* INDEX - FIN */

/* TIMES - INICIO */
.list-group-item  {

    border: 2px solid #271A27;
    padding: 15px;


}
/* TIMES - FIN */


/* AGENDA - INICIO */

.juntar {

    margin-top: -15px;
    
}


.agenda{

    width: 100%;
    height: 290px;
    border: 2px solid #271A27;
    background: white;
    box-shadow: 2px 2px 5px #3CC6B7;

}

.titulo_agenda {

    text-align: center;
    font-size: 20px;
    border-bottom: 2px solid #271A27;
    font-weight: bold;
     
}

.titulo_disponible {

    text-align: center;
    font-size: 15px;
    border-bottom: 2px solid #271A27;
    font-weight: 700;

}



.contenedor_anotados {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 20px 0;
}

.anotados {

    text-align: center;

    border:  3px solid #8F562A;
    border-radius: 8px;
    margin: 0 13px;

}


