.contenedorWpp {

    display: grid;
    justify-content: end;
    z-index: 999;
    position: sticky;
    bottom: 60px;
    margin-right: 10px;
    margin-left: 99%;
}

.tamañoWpp {

    width: 60px;
    object-fit: contain;
    filter: drop-shadow(0px 0px 5px white);

}

.tamañoWpp:hover {

    filter: drop-shadow(0px 0px 10px black);
}