.contenedorWpp {

    display: grid;
    justify-content: end;
    margin-right: 60px;

   
}

.tamañoWpp {
   
    position: fixed;
    bottom: 10px;
    width: 60px;
    object-fit: contain;
    filter: drop-shadow(0px 0px 5px white);

}

.tamañoWpp:hover {

    filter: drop-shadow(0px 0px 10px black);
}