/* HEADER - INICIO */



.nombre {

    font-size: 30px;
    color: $color-principal;

}


.fondo_header {

    background-color: $color-fondos;
    height: 70px;
    margin-bottom: 22px;
    z-index: 999;

}

ul {


    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
   


}



a {

    color: $color-principal;
    text-decoration: none;
    font-size: 22px;

}

.menu {
    
    height: 50px;
    object-fit: contain;
    z-index: 1;


}

/* HEADER - FIN */
