
@media (max-width: 340px){

    .contenedor_menu_perfil {

        font-size: 18px;

    }

    .agenda {

        height: 100%;

    }
   

}


@media(max-height: 330px){

    .contenedor_menu_hamburguesa {

        grid-template-columns: 1fr 1fr;
       
    }

}

@media(max-height: 380px){

    .contenedor_menu_perfil {

        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 10px;
        font-size: 18px;

    }

}


